@model bookstore.Models.Book

<h1>Edit Info:</h1>

@using (Html.BeginForm())
{
  @Html.Label("Condition")
  @Html.TextBoxFor(model => model.Condition)
  
  @Html.Label("Author")
  @Html.TextBoxFor(model => model.Author)

  @Html.Label("Title")
  @Html.TextBoxFor(model => model.Title)
   @Html.Label("Available")
  @Html.TextBoxFor(model => model.Available, new {type="bool"})
  @* @Html.RadioButton("Available", true)
  @Html.RadioButton("Available", false) *@

  <input type="submit" value="Add Book"/>
}

<a href="/Books"><p>Return to books</p></a>